amqp==2.4.0
bcrypt==3.1.6
beautifulsoup4==4.7.1
billiard==3.5.0.5
blinker==1.4
CacheControl==0.12.5
celery[redis]==4.2.1
certifi==2018.11.29
chardet==3.0.4
click==7.0
contextlib2==0.5.5
Flask==1.0.2
Flask-Login==0.4.1
Flask-Bcrypt==0.7.1
humanize==0.5.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
kombu==4.2.2.post1
lockfile==0.12.2
lxml==4.3.0
MarkupSafe==1.1.0
msgpack-python==0.5.6
peewee==3.8.2
PyMySQL==0.9.3
pytz==2018.9
redis==3.0.1
requests==2.21.0
robobrowser==0.5.3
sentry-sdk[flask]==0.6.9
six==1.12.0
tqdm==4.29.1
tzlocal==1.5.1
urllib3==1.24.1
unidecode==1.0.23
vine==1.2.0
Werkzeug==0.14.1
ipython  # don't care about version
