amqp==2.5.2
bcrypt==3.1.7
beautifulsoup4==4.8.2
billiard==3.6.3.0
blinker==1.4
CacheControl==0.12.6
celery[redis,msgpack]==4.3.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.1.1
contextlib2==0.6.0
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
humanize==2.2.0
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
kombu==4.6.8
lockfile==0.12.2
lxml==4.5.0
MarkupSafe==1.1.1
msgpack==1.0.0
peewee==3.13.2
pycparser==2.20
PyMySQL==0.9.3
python-redis-lock==3.5.0
pytz==2019.3
redis==3.4.1
requests==2.23.0
robobrowser==0.5.3
sentry-sdk[flask]==0.14.3
six==1.14.0
soupsieve==2.0
tqdm==4.45.0
tzlocal==2.0.0
Unidecode==1.1.1
urllib3==1.25.8
vine==1.3.0
Werkzeug==1.0.1
