{% extends "layout.html" %}
{% block title %}Masquerade{% endblock %}
{% block head %}
  {{ super() }}
  <script type="text/javascript">
    $(function() {
      $('#login-chooser').on('submit', function() {
        if ($('#modid option:selected:disabled').val() == "-") {
          return false;
        }
      });
    });
  </script>
{% endblock %}
{% block body %}
  <h1>Who would you like to be today?</h1>

  <img src="https://i.imgur.com/g1sPXhV.jpg" alt="Disguises" />

  <form id='login-chooser' method="POST" action=".">
    <input type="hidden" name="next" value="{{ request.args.get('next', '') }}" />
    <select name="modid" id='modid'>
      {% for mod in mods %}
        {% if current_user.id == mod.id %}
            <option value="-" disabled selected><s>{{ mod.name }}</s></option>
        {% else %}
            <option value="{{ mod.id }}">{{ mod.name }}</option>
        {% endif %}
      {% endfor %}
    </select>

    <input name="action" type="submit" value="Fake it!" />
  </form>
{% endblock %}
