<!DOCTYPE html>
<html>
<head>
  <title>
    {%- block fulltitle -%} 
    {%- block title %}{% endblock %}{% block titlesep %} &laquo; {% endblock titlesep %}PTV Forum Helper
    {%- endblock -%}
  </title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <style type="text/css">
    #login { float: right; border: 1px dashed #aaa; padding: 2px; }
    #content { margin: 5px; }
    a, a:visited { text-decoration: none; color: blue; }
    a:hover, a:visited:hover { color: red; }
  </style>

  {% block head %}
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  {% endblock %}
</head>
<body>
  {% block loginbar %}
    <span id="login">
        {% if user.is_authenticated %}
            Hi {{ user.name }}!
            You can <a href="{{ url_for('logout', next=request.path) }}">log out</a>, if you'd like.
        {% else %}
            Want to <a href="{{ url_for('login', next=request.path) }}">log in</a>?
        {% endif %}
    </span>
  {% endblock %}

  <div id="content">
    {% block body %}{% endblock %}
  </div>
</body>
</html>
