{% extends "layout.html" %}
{% block title %}Mod Turfs{% endblock %}
{% block loginbar %}{% endblock %}
{% block head %}
  {{ super() }}
  <script type="text/javascript">
    $(function() {
      $('#someone-else').hide();
      $('#modid').on('change', function() {
        var val = $(this).val();
        if (val == '') {
          $('#someone-else').show();
        } else {
          $('#someone-else').hide().val('');
        }
      });

      $('#login-chooser').on('submit', function() {
        if($('#modid option:selected').val() == '-') {
          return false;
        }
      });
    });
  </script>
{% endblock %}
{% block body %}
  <h1>Login</h1>

  <img src="http://i.imgur.com/RSjMPkh.jpg?2" alt="Who do you think you are?" />

  <form id='login-chooser' method="post" action="{{ url_for('login') }}">
    <input type="hidden" name="next" value="{{ request.args.get('next', '') }}" />
    <select name="modid" id='modid'>
      <option selected disabled value='-'>-</option>
      <option id='pick-someone-else' value=''>Someone New and Special</option>
      {% for mod in mods %}
        <option value="{{ mod.id }}">{{ mod.name }}</option>
      {% endfor %}
    </select>

    <input type="text" name="name" id='someone-else' placeholder="DongOfGoom" size="15" />

    <input type="submit" value="Go" />
  </form>

  <p>(If you're not on the list yet, choose "Someone New and Special" to add yourself.)</p>
{% endblock %}
