{% extends "layout.html" %}
{% block title %}On-Air Mismatch{% endblock %}
{% block body %}
  <h1>On-Air Mismatches</h1>
  <p>
    Based on TVDB data from
    {% if last_tvdb_update < yesterday %}{{ last_tvdb_update.strftime("%Y-%m-%d") }}, {% endif %}
    {{ last_tvdb_update.strftime("%I:%M %p") }}
    and forum data from
    {% if last_forum_update < yesterday %}{{ last_forum_update.strftime("%Y-%m-%d") }}, {% endif %}
    {{ last_forum_update.strftime("%I:%M %p") }}.
  </p>
  <h2>We think off-air, TVDB says continuing</h2>
  {% if we_think_done %}
    <ul>
      {% for show in we_think_done %}
        <li>
          <a href="{{ show.url }}">{{ show.name }}</a>
          <span class="tvdb-link">
            ({{ show.tvdb_ids | tvdb_links | safe }})
          </span>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Nothing!</p>
  </ul>
  {% endif %}

  <h2>We think on-air, TVDB says over</h2>
  {% if we_think_continuing %}
    <ul>
      {% for show in we_think_continuing %}
        <li>
          <a href="{{ show.url }}">{{ show.name }}</a>
          <span class="tvdb-link">
            ({{ show.tvdb_ids | tvdb_links | safe }})
          </span>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Nothing!</p>
  </ul>
  {% endif %}
{% endblock %}
