<tr id="show-{{ show.id }}" data-showid="{{ show.id }}"
    class="{% if show.n_posts() != 'n/a' and show.n_posts() > hi_post_thresh %}high-posts{% endif -%}
           {% if info['n_mods'] == 0 %} no-mods{% else %} has-mods{% endif -%}
           {% if user.is_authenticated and info['my_info'][0] %} mine{% else %} not-mine{% endif -%}
           {% if user.is_authenticated and info['my_info'][0] == 'g' %} my-lead{% else %} not-my-lead{% endif -%}
           {% if show.tvdb_ids %} has-tvdb{% else %} no-tvdb{% endif -%}
           {% if show.gone_forever %} over{% else %} not-over{% endif -%}
           {% if show.we_do_ep_posts %} do-ep-posts{% else %} no-ep-posts{% endif -%}
           {% if show.needs_leads %} needs-leads{% else %} no-needs-leads{% endif -%}
           {% if show.needs_backups %} needs-backups{% else %} no-needs-backups{% endif %} {{ parity }}">
  <td class="show-name">
    <a href="{{ show.url }}">{{ show.name }}</a>

    <span class="tvdb-link">
      ({{ show.tvdb_ids | tvdb_links | safe }})
    </span>
  </td>

  <td class="activity">
    <span class="num-posts">{{ show.n_posts()|int|commify }}</span>
    <br />
    <span class="last-post" title="{% if show.last_post is not none %}{{ show.last_post.strftime("%d %b %Y") }}{% else %}never{% endif %}">{{ show.last_post|last_post }}</span>
  </td>

  <td class="ep-threads">
    <label>
    Over:
    <input type="checkbox" class="in-canceled" id="canceled-{{ show.id }}"
           {% if show.gone_forever %}checked{% endif %} />
    </label>
    <br />
    <label>
    Per-ep:
    <input type="checkbox" class="in-ep-posts" id="ep-posts-{{ show.id }}"
           {% if show.we_do_ep_posts %}checked{% endif %} />
    </label>
  </td>

  <td class="needs">
    <label>
      Leads
      <input type="checkbox" class="in-needs-leads" id="needs-leads-{{ show.id }}"
             {% if show.needs_leads %}checked{% endif %} />
    </label>
    <br />
    <label>
      Help
      <input type="checkbox" class="in-needs-backups" id="needs-backups-{{ show.id }}"
             {% if show.needs_backups %}checked{% endif %} />
    </label>
  </td>

  {% if user.is_authenticated %}
  {% set mystatus, mycomments = info['my_info'] %}
  <td class="you">
    <select class="havingness" id="havingness-{{ show.id }}" autocomplete="off">
      <option value="">-</option>
      <option value="g" {% if mystatus == "g" %}selected{% endif %}>lead</option>
      <option value="c" {% if mystatus == "c" %}selected{% endif %}>helper</option>
      <option value="w" {% if mystatus == "w" %}selected{% endif %}>could help</option>
    </select>
    <input type={% if mystatus %}"text"{% else %}"hidden"{% endif %}
           class="comments" id="comments-{{ show.id }}"
           placeholder="Comments" value="{{ mycomments or "" }}" size="20" />
  </td>
  {% endif %}

  <td class="mods">
    <span class="num-mods">{{ info['n_mods'] }}:</span>
    {% for modname, modstatus, modcomment in info['mod_info'] %}
      <span class="mod-info">
      <span class="mod-{{ modstatus }}">{{ modname }}</span><!--
      -->{% if modcomment %} ({{ modcomment }}){% endif %}</span><!--
      -->{% if not loop.last %},{% endif %}
    {% endfor %}
  </td>

</tr> 
