<tr id="show-{{ show.id }}" data-showid="{{ show.id }}"
    data-sortname="{{ show.name.lower() | strip_the }}"
    data-n-posts="{{ show.n_posts() }}"
    data-last-post="{% if show.last_post is not none %}{{ show.last_post.strftime('%Y-%m-%d') }}{% else %}0000-00-00{% endif %}"
    data-n-mods="{{ info['n_mods'] }}"
    class="{% if show.n_posts() != 'n/a' and show.n_posts() > hi_post_thresh and info['in_last_year'] %}high-posts{% endif -%}
           {% if info['n_mods'] == 0 %} no-mods{% else %} has-mods{% endif -%}
           {% if user.is_authenticated and info['my_info'][0] %} mine{% else %} not-mine{% endif -%}
           {% if user.is_authenticated and info['my_info'][0] == 'g' %} my-lead{% else %} not-my-lead{% endif -%}
           {% if show.tvdb_ids|any_tvdbs %} has-tvdb{% else %} no-tvdb{% endif -%}
           {% if not show.is_a_tv_show %} non-show{% endif -%}
           {% if show.gone_forever %} over{% else %} not-over{% endif -%}
           {% if show.we_do_ep_posts %} do-ep-posts{% else %} no-ep-posts{% endif -%}
           {% if show.needs_help %} needs-help{% else %} no-needs-help{% endif -%}
           {% if show.up_for_grabs %} up-for-grabs{% else %} no-up-for-grabs{% endif %} {{ parity }}">
  <td class="show-name">
    <a href="{{ show.url }}">{{ show.name }}</a>

    {% if show.is_a_tv_show %}
      <span class="tvdb-link">
        ({{ show.tvdb_ids | tvdb_links | safe }} - <a href="{{ url_for('edit_tvdb', show_id=show.id) }}">edit</a>)
      </span>
    {% endif %}
  </td>

  <td class="activity">
    <span class="num-posts">{{ show.n_posts()|int|commify }}</span>
    <br />
    <span class="last-post" title="{% if show.last_post is not none %}{{ show.last_post.strftime("%d %b %Y") }}{% else %}never{% endif %}">{{ show.last_post|last_post }}</span>
  </td>

  <td class="ep-threads">
    <span class="on-off-air">{% if show.gone_forever %}off air{% elif show.is_a_tv_show %}on air{% else %}not a show{% endif %}</span>
    <br />
    <label>
    Per-ep:
    <input type="checkbox" class="in-ep-posts" id="ep-posts-{{ show.id }}"
           {% if show.we_do_ep_posts %}checked{% endif %} />
    </label>
  </td>

  <td class="needs">
    <label>
      Help
      <input type="checkbox" class="in-needs-help" id="needs-help-{{ show.id }}"
             {% if show.needs_help %}checked{% endif %} />
    </label>
    <br />
    <label>
      Grabs
      <input type="checkbox" class="in-up-for-grabs" id="up-for-grabs-{{ show.id }}"
             {% if show.up_for_grabs %}checked{% endif %} />
    </label>
  </td>

  {% if user.is_authenticated %}
  {% set mystatus, mycomments = info['my_info'] %}
  <td class="you">
    <select class="havingness" id="havingness-{{ show.id }}" autocomplete="off">
      <option value="">-</option>
      <option value="g" {% if mystatus == "g" %}selected{% endif %}>lead</option>
      <option value="c" {% if mystatus == "c" %}selected{% endif %}>helper</option>
      <option value="w" {% if mystatus == "w" %}selected{% endif %}>could help</option>
    </select>
    <input type={% if mystatus %}"text"{% else %}"hidden"{% endif %}
           class="comments" id="comments-{{ show.id }}"
           placeholder="Comments" value="{{ mycomments or "" }}" size="20" />
  </td>
  {% endif %}

  <td class="mods">
    <span class="num-mods">{{ info['n_mods'] }}:</span>
    {% for modname, modstatus, modcomment in info['mod_info'] %}
      <span class="mod-info">
      <span class="mod-{{ modstatus }}">{{ modname }}</span><!--
      -->{% if modcomment %} ({{ modcomment }}){% endif %}</span><!--
      -->{% if not loop.last %},{% endif %}
    {% endfor %}
  </td>

</tr> 
