{% extends "layout.html" %}
{% block title %}Shows Airing Soon{% endblock %}
{% block body %}
  <h1>Episodes Airing Soon</h1>
  {% for day, eps in soon %}
    <h2>{{ "{:%A, %B %d}".format(day) }}</h2>
    <ul class="shows">
      {% for ep in eps %}
        <li>
          <a href="{{ ep['show_forum_id']|forum_url }}">{{ ep['showname'] }}</a>:
          S{{ ep['season_number'] }}
          E{{ ep['episodenumber'] }}:
          {{ ep['name'] }}
          (<a href="http://thetvdb.com/?tab=episode&seriesid={{ ep['seriesid'] }}&seasonid={{ ep['seasonid'] }}&id={{ ep['episodeid'] }}">tvdb</a>)
          {% if ep['overview'] %}
            (<a class="clip" title="Click to copy." href="#"
             data-clipboard-text="[quote]{{ ep['overview'] }}[/quote]">copy description</a>)
          {% else %}
            (no description)
          {% endif %}
        </li> 
      {% endfor %} 
    </ul>
  {% endfor %} 

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='ZeroClipboard.min.js') }}"></script>
  <script type="text/javascript">
    ZeroClipboard.config( { moviePath: "{{ url_for('static', filename='ZeroClipboard.swf') }}" } );
    var client = new ZeroClipboard($('.clip'));
  </script>

{% endblock %}
