{% extends "layout.html" %}
{% block title %}Shows Airing Soon{% endblock %}
{% block body %}
  <h1>Episodes Airing Soon</h1>
  {% for day, eps in soon %}
    <h2>{{ "{:%A, %B %d}".format(day) }}</h2>
    <ul class="shows">
      {% for show_name, ep in eps %}
        <li>
          <a href="{{ names_to_id[show_name]|forum_url }}">{{ show_name }}</a>:
          S{{ ep.get('seasonnumber', 0) }}
          E{{ ep.get('episodenumber', 0) }}:
          {{ ep.get('episodename', '') }}
          (<a href="http://thetvdb.com/?tab=episode&seriesid={{ ep['seriesid'] }}&seasonid={{ ep['seasonid'] }}&id={{ ep['id'] }}">tvdb</a>)
          {% if ep.get('overview', '') %}
            (<a class="clip" title="Click to copy." href="#"
             data-clipboard-text="[quote]{{ ep.get('overview') }}[/quote]">copy description</a>)
          {% else %}
            (no description)
          {% endif %}
        </li> 
      {% endfor %} 
    </ul>
  {% endfor %} 

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='ZeroClipboard.min.js') }}"></script>
  <script type="text/javascript">
    ZeroClipboard.config( { moviePath: "{{ url_for('static', filename='ZeroClipboard.swf') }}" } );
    var client = new ZeroClipboard($('.clip'));
  </script>

{% endblock %}
