{% extends "layout.html" %}
{% block title %}Mod Turfs{% endblock %}
{% block head %}
  {{ super() }}

  <style type="text/css">
  .mod-g { color: #2c2; }
  .mod-c { color: #55e; }
  .mod-w { }
  .mod-n { color: #c22; }

  #shows tr.odd { background: #ddd; }
  #shows tr.even { background: #fff; }

  #shows tr.high-posts.no-mods { background: #c22 !important; }

  #shows tr.odd.high-posts { background: #bdb; }
  #shows tr.even.high-posts { background: #dfd; }

  #shows tr.odd.no-mods { background: #dcc; }
  #shows tr.even.no-mods { background: #fee; }

  #shows { margin-top: 2em; }
  #shows td { padding: 0 1em; }
  #shows td:first-child { padding-left: 0; }
  #shows td:last-child { padding-right: 0; }
  #shows td.show-name {
    overflow: auto;
    max-width: 15em;
    white-space: nowrap;
  }
  #shows .activity, #shows .ep-threads, #shows.needs, #shows .you {
    white-space: nowrap;
  }
  #shows .activity {
    text-align: right;
  }
  #shows .needs {
    min-width: 4em;
  }
  #shows .me {
    min-width: 15em;
  }
  #shows .tvdb-link {
    font-size: 70%;
  }

  td.post-count { text-align: right; }

  .filter {
    padding: 5px;
  }
  .filter.active {
    background: #bbf;
    border-radius: 5px;
  }
  </style>

  <script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    // TODO: indicators when ajax is working/successful

    function get_ajax_checkbox_call(thing, class_if_pos, class_if_neg) {
      return {
        dataType: "json",
        type: "POST",
        data: {
          showid: thing.closest('tr').data('showid'),
          val: thing.is(':checked')
        },
        success: function(data) {
          thing.val(data.curr);
          var tr = thing.closest('tr');
          if (data.curr) {
            tr.removeClass(class_if_neg).addClass(class_if_pos);
          } else {
            tr.removeClass(class_if_pos).addClass(class_if_neg);
          }
        },
        error: function(data, status, thrown) { 
          alert("ERROR " + status + ": " + thrown);
        }
      };
    }
    function mark_over_action() {
      $.ajax($SCRIPT_ROOT + '/_mark_over/', get_ajax_checkbox_call($(this), 'over', 'not-over'));
    }
    function mark_per_ep_action() {
      $.ajax($SCRIPT_ROOT + '/_mark_per_ep/', get_ajax_checkbox_call($(this), 'do-ep-posts', 'no-ep-posts'));
    }
    function mark_needs_leads_action() {
      $.ajax($SCRIPT_ROOT + '/_mark_needs_leads/', get_ajax_checkbox_call($(this), 'needs-leads', 'no-needs-leads'));
    }
    function mark_needs_backups_action() {
      $.ajax($SCRIPT_ROOT + '/_mark_needs_backups/', get_ajax_checkbox_call($(this), 'needs-backups', 'no-needs-backups'));
    }

    function mod_comments_action() {
      var row = $(this).closest('tr');
      $.ajax($SCRIPT_ROOT + '/_mark_territory/', {
        dataType: "text",
        type: "POST",
        data: {
          showid: row.data('showid'),
          // modid: {{ modid }},
          val: row.find('.havingness').val(),
          comments: row.find('.comments').val(),
          hi_post_thresh: {{ hi_post_thresh }},
          is_odd: row.hasClass('odd') ? 1 : 0,
        },
        success: function(data) {
          var rep = $(data);
          row.replaceWith(rep);
          bind_row_callbacks(rep);
        },
        error: function(data, status, thrown) { 
          alert("ERROR " + status + ": " + thrown);
        }
      });
    }

    function bind_row_callbacks(obj) {
      obj.find('.in-canceled').on("change", mark_over_action);
      obj.find('.in-ep-posts').on("change", mark_per_ep_action);
      obj.find('.in-needs-leads').on("change", mark_needs_leads_action);
      obj.find('.in-needs-backups').on("change", mark_needs_backups_action);
      obj.find('.havingness').on("change", mod_comments_action);
      obj.find('.comments').on("change", mod_comments_action);
    }

    function update_filters() {
      $('#shows tr').show();
      if ($('#filter-no-mods').hasClass('active')) {
        $('#shows .has-mods').hide();
      }
      if ($('#filter-needs-leads').hasClass('active')) {
        $('#shows .no-needs-leads').hide();
      }
      if ($('#filter-needs-backups').hasClass('active')) {
        $('#shows .no-needs-backups').hide();
      }
      if ($('#filter-no-mods').hasClass('active')) {
        $('#shows .has-mods').hide();
      }
      if ($('#filter-no-tvdb').hasClass('active')) {
        $('#shows .has-tvdb').hide();
      }
      if ($('#filter-my-leads').hasClass('active')) {
        $('#shows .not-my-lead').hide();
      }
      if ($('#filter-my-shows').hasClass('active')) {
        $('#shows .not-mine').hide();
      }

      var rows = $('#shows tbody tr').removeClass('odd').removeClass('even').filter(':visible');
      rows.filter(':even').addClass('even');
      rows.filter(':odd').addClass('odd');
      $('#count').html(rows.length);
    }

    function do_filter() {
      $(this).toggleClass('active');
      update_filters();
      return false;
    }

    $(function() {
      update_filters();
      bind_row_callbacks($(document));
      $('.filter').on('click', do_filter);
    });
  </script>
{% endblock %}
{% block body %}
  <h1>Mod Turfs</h1>

  <p>
    Edits here take effect immediately, so don't go around just doing stuff. :)
  </p>

  <p>
    If you'd like, you can get get a
    <a href="{{ url_for('turfs_csv') }}">csv dump</a>,
    or a <a href="{{ url_for('my_turfs_csv') }}">dump of only your shows</a>,
    <a href="{{ url_for('my_leads_csv') }}">only your leads</a>,
    or <a href="{{ url_for('my_backups_csv') }}">only your backups</a>.
  </p>

  <p>
    Color scheme:
    pinkish background means no mods,
    greenish background means a lot of posts (top 20%, or over {{ hi_post_thresh }}),
    red means both.
    For mod lists,
    <span class="mod-g">lead</span> / <span class="mod-c">helper</span> / <span class="mod-w">could help</span>.
  </p>

  <p>
    Meaning of the checkboxes:
    "Over": the show is canceled / done (so the site doesn't check it for new episodes).
    "Per-ep": we do a thread for each episode (i.e. not a soap / daily show).
  </p>

  <p>
  <b>Filters:</b>
  {% if user.is_authenticated() %}
    <a class="filter" id="filter-my-shows" href="#">my shows</a>
    <a class="filter" id="filter-my-leads" href="#">my leads</a>
  {% endif %}
  <a class="filter" id="filter-no-mods" href="#">no mods</a>
  <a class="filter" id="filter-needs-leads" href="#">needs leads</a>
  <a class="filter" id="filter-needs-backups" href="#">needs helpers</a>
  <a class="filter" id="filter-no-tvdb" href="#">no TVDB links</a>

  <span style="float: right;"><span id="count">?</span> shown</span>
  </p>

  <table id="shows">
    <thead>
      <tr>
        <th>Show</th>
        <th>Posts</th>
        <th>State</th>
        <th>Mod needs</th>
        {% if user.is_authenticated() %} <th>You</th> {% endif %}
        <th>Mods</th>
      </tr>
    </thead>
    <tbody>
      {% for show, info in shows %}
        {% set parity = loop.cycle('odd', 'even') %}
        {% include "turf_row.html" %}
      {% endfor %} 
    </tbody>
  </table>
{% endblock %}
