{% extends "layout.html" %}
{% block title %}My Shows' Next Episodes{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .date {
      color: #aaa;
      font-size: small;
    }
  </style>
{% endblock head %}
{% block body %}
  <h1>My Shows' Next Episodes</h1>

  <table>
    <thead>
      <tr>
        <th>Show</th>
        <th>Last Ep</th>
        <th>Next Ep</th>
      </tr>
    </thead>
    <tbody>
      {% for (show_forum_id, showname), last, next in last_and_next %}
      <tr>
        <td><a href="{{ show_forum_id|forum_url }}">{{ showname }}</a></td>
        <td>
          {% if last %}
            <span class="date">{{ last['first_aired'] or '?' }}</span>
            S{{ last['season_number'] }}
            E{{ last['episode_number'] }}:
            {{ last['name'] or '-' }}
            (<a href="http://thetvdb.com/?tab=episode&seriesid={{ last['seriesid'] }}&seasonid={{ last['seasonid'] }}&id={{ last['episodeid'] }}">tvdb</a>)
          {% else %}
            &mdash;
          {% endif %}
        </td>
        <td>
          {% if next %}
            <span class="date">{{ next['first_aired'] or '?' }}</span>
            S{{ next['season_number'] }}
            E{{ next['episode_number'] }}:
            {{ next['name'] or '-' }}
            (<a href="http://thetvdb.com/?tab=episode&seriesid={{ next['seriesid'] }}&seasonid={{ next['seasonid'] }}&id={{ next['episodeid'] }}">tvdb</a>)
          {% else %}
            &mdash;
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
