{% extends "layout.html" %}

{% block title %}Shows Airing Soon{% endblock %}

{% block head %}
  {{ super() }}
  <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.7.1/dist/clipboard.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/primer-tooltips@1.5.2/build/build.css" />
{% endblock %}

{% block body %}
  <h1>Episodes Airing Soon</h1>
  <p>
    Currently showing yesterday, today, and {{ soon|length - 2 }} more days.
    {% if soon|length != 9 %}
      <a href="{{ url_for('eps_soon', days=8) }}">Show a week instead</a>.
    {% endif %}
  </p>
  {% for day, eps in soon %}
    <h2>{{ "{0:%A, %B %d}".format(day) }}</h2>
    <ul class="shows">
      {% for ep in eps %}
        <li>
          <a href="{{ ep.show.url }}">{{ ep.show.name }}</a>:
          S{{ ep.season_number }}
          E{{ ep.episode_number }}:
          {{ ep.name }}
          (<a href="{{ ep.tvdb_url() }}">tvdb</a>)
          <span class="clip-parent">
            {% if ep.overview %}
              (<a class="clip" title="Click to copy" href="#"
                onclick="return false;"
                data-clipboard-text="[quote]{{ ep.overview }}[/quote]">copy description</a>)
            {% else %}
              (no description)
            {% endif %}
          </span>
        </li> 
      {% endfor %} 
    </ul>
  {% endfor %} 

  <script type="text/javascript" src="{{ url_for('static', filename='clipboard.js') }}"></script>
{% endblock %}
