{% extends "layout.html" %}
{% block title %}My Shows' Next Episodes{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .date {
      color: #aaa;
      font-size: small;
    }
    .turf-state {
      font-weight: bold;
      padding-left: 2em;
      padding-top: 1em;
    }
    a.post-info, a.post-info:visited {
      color: #777;
    }
    a.post-info:hover, a.post-info:visited:hover {
      color: red;
    }
    .turfs-link {
      font-size: 60%;
      color: #777;
    }
  </style>

  <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.7.1/dist/clipboard.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/primer-tooltips@1.5.2/build/build.css" />
{% endblock head %}

{% block body %}
  <h1>My Shows' Next Episodes</h1>


  <table>
    <thead>
      <tr>
        <th>Show</th>
        <th>Last Ep</th>
        <th>Next Ep</th>
      </tr>
    </thead>
    <tbody>
      {% for state in TURF_ORDER %}
        {% if last_and_next[state] %}
          <tr>
            <td colspan="3" class="turf-state">{{ state_names[state]|capitalize }}</td>
          </tr>
          {% for info, last, next in last_and_next[state] %}
          <tr>
            <td>
              <a href="{{ url_for('show', show_id=info.show_id) }}">{{ info.name }}</a>
              <a class="turfs-link" href="{{ info.url }}">{% if info.has_forum %}forum{% else %}thread{% endif %}</a>
            </td>
            <td>
              {% if last %}
                <span class="date">{{ last.first_aired or '?' }}</span>
                S{{ last.season_number }}
                E{{ last.episode_number }}:
                {{ last.name or '-' }}
                (<a href="{{ last.tvdb_url() }}">tvdb</a>)
                {% if last.overview %}
                  <span class="clip-parent">
                  (<a class="clip" title="Click to copy." href="#"
                      onclick="return false"
                      data-clipboard-text="[quote]{{ last.overview }}[/quote]">copy desc</a>)
                  </span>
                {% endif %}

              {% else %}
                &mdash;
              {% endif %}
            </td>
            <td>
              {% if next %}
                <span class="date">{{ next.first_aired or '?' }}</span>
                S{{ next.season_number }}
                E{{ next.episode_number }}:
                {{ next.name or '-' }}
                (<a href="{{ next.tvdb_url() }}">tvdb</a>)
                {% if next.overview %}
                  (<a class="clip" title="Click to copy." href="#"
                      data-clipboard-text="[quote]{{ next.overview }}[/quote]">copy desc</a>)
                {% endif %}
              {% else %}
                &mdash;
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <hr/>

  {% if no_ep_shows %}
  <p>
    These shows don't have any episodes listed on TVDB:
    {% for show in no_ep_shows -%}
      <a class="post-info" href="{{ show.url }}">{{ show.name }}</a>{% if not loop.last %}, {% endif %}
    {%- endfor -%}
    .
  </p>
  {% endif %}

  {% if no_tvdb %}
  <p>
    These shows aren't associated with a TVDB show and so don't show up here,
    but you could add one by clicking on the link:
    {% for show in no_tvdb -%}
      <a class="post-info" href="{{ url_for('edit_tvdb', show_id=show.id) }}">{{ show.name }}</a>{% if not loop.last %}, {% endif %}
    {%- endfor -%}
    .
  </p>
  {% endif %}

  {% if over %}
  <p>
    These shows are off-air according to their TVDB links and so don't show up here:
    {% for show in over -%}
      <a class="post-info" href="{{ show.url }}">{{ show.name }}</a>{% if not loop.last %}, {% endif %}
    {%- endfor -%}
    .
  </p>
  {% endif %}

  {% if non_shows %}
  <p>
    These are marked as not actually being TV shows (let Dougal know if this is wrong):
    {% for show in non_shows -%}
      <a class="post-info" href="{{ show.url }}">{{ show.name }}</a>{% if not loop.last %}, {% endif %}
    {%- endfor -%}
    .
  </p>
  {% endif %}

  <script type="text/javascript" src="{{ url_for('static', filename='clipboard.js') }}"></script>
{% endblock %}
